* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

:root {
  --bg: #0c0e0c;
  --bg2: #13131f;
  --bg3: #1c1c2e;
  --border: rgba(255, 255, 255, 0.08);
  --accent: #7c3aed;
  --accent2: rgb(255, 187, 61);
  --red: #d8323c;
  --text: #e2e2f0;
  --text2: #888;
  --radius: 14px;
  --status: #a4a4a450;
  --status2: #820000;
  --status3: #186600;
  font-family: "Segoe UI", system-ui, sans-serif;
  font-size: 15px;
  color: var(--text);
  background: var(--bg);
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  background: var(--bg);
}

button,
input,
textarea {
  font: inherit;
  outline: none;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

p,
span {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.status-default {
  background: var(--status);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 24px;
  width: fit-content;
  max-width: fit-content;
}

.status-err {
  background: var(--status2);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 24px;
  width: fit-content;
  max-width: fit-content;
}

.status-ok {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: var(--status3);
  padding: 4px 12px;
  border-radius: 24px;
  width: fit-content;
  max-width: fit-content;
}
